body {
    background-color: #FFF1DC;
    justify-content: center;
    padding: 0 auto;
    font-family: 'Pacifico', cursive;
}

.text {
    color: #3A98B9;
    font-size: 20px;
    font-family: 'Tilt Warp', cursive;


}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #EEEEEE;
    padding: 0 auto;
    margin: 10px;
}

#main div {
    width: 100px;
    height: 50px;
    transition: 0.5s;
}

img {
    border-radius: 50%;
}